<div class="row">
  <div class="col-md-12">
    Container: <b>{{containerName}}</b>
  </div>

  <div class="col-md-12">
    <div id="console"  class="well well-sm" style="background-color:white;"></div>
  </div>

</div>
