<div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td class="hidden-xs">
            <b>Ephemeral</b>
          </td>
          <td class="hidden-xs">
            <b>Status</b>
          </td>
          <td>
          </td>
          <td>
            <b>Control</b>
          </td>
          <td>
            <b>Actions</b>
          </td>
        </tr>
      </thead>
      <tbody>
      <!-- <div class="row bottomline" ng-repeat="container in containers">
        <div class="row">
          <div class="col-md-3 col-xs-3"> {{container.name}} </div>
        </div>
      </div> -->
        <tr ng-repeat="container in containers | orderBy:'name'">
            <td>{{ container.name }}</td>
            <td class="hidden-xs">{{ container.ephemeral }}</td>
            </td>
            <td class="hidden-xs">{{ container.status }}</td>
            <td>
              <a type="button" class="btn btn-default" ng-href="#/container/{{container.name}}">
                <i class="fa fa-tasks" aria-hidden="true"></i> <span class="hidden-xs">Details</span>
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-success" ng-click="changeState(container, 'start')" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                <i class="fa fa-play" aria-hidden="true"></i> <span class="hidden-xs">Start</span>
              </button>
              <button type="button" class="btn btn-primary" ng-click="changeState(container, 'stop')" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-stop" aria-hidden="true"></i> <span class="hidden-xs">Stop</span>
              </button>
              <button type="button" class="btn btn-warning" ng-click="changeState(container, 'restart')" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-refresh" aria-hidden="true"></i> <span class="hidden-xs">Restart</span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="delete(container)" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                <i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span>
              </button>
              <a type="button" class="btn btn-primary" ng-href="#/container-snapshots/{{container.name}}" ng-disabled="container.disabled">
                <i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-xs">Snapshots</span>
              </a>
              <a type="button" class="btn btn-info" ng-href="#/terminal/{{container.name}}" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-terminal" aria-hidden="true"></i> <span class="hidden-xs">Terminal</span>
              </a>
            </td>

        </tr>
      </tbody>
    </table>
</div>
