<div class="modal-header">
     <h3 class="modal-title">Delete container</h3>
 </div>

 <div class="modal-body">
   Do you really want to delete the container:
   <ul>
     <li>{{container.name}}</li>
   </ul>
 </div>
 <div class="modal-footer">
     <button class="btn btn-danger" type="button" ng-click="ok()">Delete</button>
     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
 </div>
