<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Containers@Home</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="assets/xterm.css">
    <style media="screen">
      body {
        font-family: 'Titillium Web', sans-serif;
      }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <style type="text/css">.uib-time input{width:0px;}</style>
  </head>
  <body ng-app="lxdAdmin" ng-controller="indexCtrl">
    <nav class="navbar navbar-default" role="navigation" ng-cloak>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-cloud" aria-hidden="true"></i> Containers@Home</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav" ng-show="isAuth()">
            <li><a href="#/container-create">New Container</a></li>
            <li><a href="#/containers">Containers</a></li>
            <li><a href="#/images">Images</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="isAuth()"><a href="#/signin"> Login</a></li>
            <li ng-show="isAuth()"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{Auth.login}}</a></li>
            <li ng-show="isAuth()"><a href="#" ng-click="logOut()"> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div ng-view=""></div>
    </div>
    <div class="text-center text-disabled">
        <small>Copyright © 2016 <a href="http://teseyko.com/" target="_blank">Alexander Teseyko</a></small>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js" charset="utf-8"></script>

    <script src="assets/xterm.js"></script>
    <script src="assets/xterm-addon-fit.js"></script>

    <script src="app.js"></script>

    <script src="modules/containers/containersCtrl.js"></script>
    <script src="modules/containers/containersService.js"></script>

    <script src="modules/images/imagesCtrl.js"></script>
    <script src="modules/images/imagesService.js"></script>

    <script src="modules/terminal/terminalCtrl.js" charset="utf-8"></script>
    <script src="modules/terminal/terminalService.js" charset="utf-8"></script>

    <script src="modules/auth/authCtrl.js" charset="utf-8"></script>
    <script src="modules/auth/authService.js" charset="utf-8"></script>
  </body>
</html>
