<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          <b>Hash</b>
        </td>
        <td>
          <b>Alias</b>
        </td>
        <td class="hidden-xs">
          <b>Description</b>
        </td>
        <td class="hidden-xs">
          <b>OS</b>
        </td>
        <td class="hidden-xs">
          <b>Size</b>
        </td>
        <!-- <td>
          <b>Action</b>
        </td> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="image in images | orderBy:'fingerprint'">
          <td><b>{{image.fingerprint | limitTo:12}}</b></td>
          <td>
              <div class="" ng-repeat="alias in image.aliases">
                  {{alias.name}}
              </div>
          </td>
          <td class="hidden-xs">{{ image.properties.description }}</td>
          <td class="hidden-xs">
            {{image.properties.os}} {{image.properties.release}} {{image.properties.version}}
          </td>
          <td class="hidden-xs"> {{image.size/1024/1024 | number:3}} Mb</td>
          <!-- <td>
            <a href="" class="btn btn-success"  data-toggle="modal" data-target="#modalNewContainer" ng-click="openNewContainer(image.fingerprint)">
               <i class="fa fa-desktop" aria-hidden="true"></i> <span class="hidden-xs">New container</span></a>
          </td> -->
      </tr>
    </tbody>
  </table>
</div>
