    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Sign In</legend>
                <div class="form-group">
                    <div class="col-md-12 controls">
                        <input id="username" type="text" placeholder="Your login" class="form-control input-md"
                               data-ng-model="login.login" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls">
                        <input id="password" type="password" placeholder="Your password" class="form-control input-md"
                               data-ng-model="login.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls text-center">
                        <button id="loginbtn" class="btn btn-primary" type="submit" ng-click="signIn()">Sign In</button>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" class="text-center">
                        {{message}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 controls text-center">
                        <a href="#/signup">New User? Sign Up Here</a><br>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
