    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>New user</legend>
                <div class="form-group" ng-hide="savedSuccessfully">
                    <div class="col-md-12 controls">
                        <input id="username" type="text" placeholder="Your login" class="form-control input-md"
                               data-ng-model="registration.login" required autofocus>
                    </div>
                </div>
                <div class="form-group" ng-hide="savedSuccessfully">
                    <div class="col-md-12 controls">
                        <input id="passwordA" type="password" placeholder="Your password" class="form-control input-md"
                               data-ng-model="registration.password" required>
                    </div>
                </div>
                <div class="form-group" ng-hide="savedSuccessfully">
                    <div class="col-md-12 controls">
                        <input id="passwordB" type="password" placeholder="Confirm password"
                               class="form-control input-md" data-ng-model="registration.confirm" required>
                    </div>
                </div>
                <div class="form-group" ng-hide="savedSuccessfully">
                    <div class="col-md-12 controls text-center">
                        <button id="registerbtn" class="btn btn-primary" data-ng-click="signUp()">Sign Up</button>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="message == ''"
                         data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"
                         class="col-md-12 controls text-center">
                        {{message}}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
